body, h1, h2, h3, ul, li {
    font-family: "Bebas Neue", sans-serif;
}

body{
    background-color:black;
}

/* NAV BAR */
#top_nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #4682B4;
    opacity: 1;  /* Set initial opacity */
    transition: opacity 0.5s ease; /* Ensure smooth transition */
}


/* TOP LEFT LOGO */
#top-left-logo h2{
    float: left;
    color: #f2f2f2;
    font-size: 55px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: bold;
    margin: 15px 5px;
}

#top-left-logo img{
    float: left;
    height: 75px;
    margin: 12px 5px;
}

#top-left-logo h2:hover{
    font-weight: bold;
    color: black;
}

/* TOP RIGHT NAV LIST */
#nav-list{
    list-style-type: none;
    float: right;
}

#nav-list li{
    float: left;
}

#nav-list h3{
    float: right;
    color: black;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 25px;
    margin-right: 15px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#nav-list h3:hover{
    font-weight: bold;
    color: white;
}



/* MAIN CONTENT */
#main-area{
    position: absolute;
    left: 0%;
    top: 8%;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* TITLE SLIDE */
#title-slide{
    width: 100%;
    height: 100%;
    background-image: url('../images/gemz-title-card.png');    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#title-pic {
    height: 150px;
    width: auto;
    display: block;
    margin: 0 auto;
    padding-top: 250px;

}

/* INTRO SLIDE */
#introduction-slide{
    width: 90%;
    height: 90%;
    background-color: black;
    opacity: 0; /* Initially invisible */
    transition: opacity 1.5s ease, background-color 1.5s ease; /* Smooth fade-in transition for both opacity and background color */
    margin: 25px auto;
    border-radius: 36px;
    border: lightblue 2px solid;
}

#introduction-slide.visible {
    opacity: 1; /* Visible when scrolled to */
    background-color: #1B3A4B;
}

#introduction-slide h1{
    color: white;
    font-size: 85px;
    font-weight: bold;
}

#introduction-slide p{
    font-size: 30;
    color: white;
    font-weight: 100;
    font-family: 'Roboto';
}

#introduction{
    width: 90%;
    padding-top: 100px;
    margin-bottom: 100px;
    padding-left: 100px;
    
}

#introduction h1{
    margin: 0px 0px;
    padding: 0px 0px;
}

#introduction p{
    margin: 0px 0px;
    padding: 0px 0px;
}

#expectations{
    width: 90%;
    padding-left: 100px;
}

#expectations h1{
    margin: 0px 0px;
    padding: 0px 0px;
}

#expectations p{
    margin: 0px 0px;
    padding: 0px 0px;
}





